{% extends 'base_polls.html' %}

{% block content %}

<h2>Polls Question List</h2>

{% if object_list %} <!--views.py의 index함수에서 context를 통해 넘겨준 questions-->
    <ul>
        {% for question in questions %} <!--python3 for 문법과 동일-->
            <li>
                <a href="{% url 'polls:vote' question.id %}">{{question.question_text}}</a> <!--데이터 객체내에 필드명 접근 방법-->
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No question data</p>
{% endif %}

{% endblock %}